body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
ol {
    color: #333;
    font-size: 18px;
}

li {
    margin: 10px 0;
}